version: 2
ethernets:
  eth0:
    addresses: ["VIRTUAL_IP"]
    gateway4: ["GATEWAY"]
    nameservers:
      search: ["DOMAIN"]

  eth1:
    match:
      macaddress: "HOST_MAC"
    addresses: ["HOST_IP"]
    gateway4: ["GATEWAY"]
    nameservers:
      search: ["DOMAIN"]
